<mat-toolbar>
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav>
        <a mat-button routerLink="/home" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          Home
        </a>
        <a mat-button routerLink="/products">
          <mat-icon>store</mat-icon>
          Productos
        </a>
        <a mat-button routerLink="/contact">
          Contacto
          <mat-icon>sentiment_satisfied</mat-icon>
        </a>
      </nav>
      <a mat-raised-button [matBadge]="total$| async" matBadgeColor="warn">
       <!--  async hace  la suscripcion automatiamente y cuando no se usa mas el elemento se desuscribe evitando flujos o perdidas de memoria  -->
        <mat-icon>add_shopping_cart</mat-icon>
        Carrito
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
