mat-toolbar{
  background-color: crimson;
  color: aliceblue;
}
nav > a {
  padding: 5px;
  text-decoration: none;
}
nav > a.active {
  background-color: rgb(231, 76, 76);
}
.header-row {
  width: 100%;
}
